extends layout
block content
    h1= title
    form(id='BarbequeForm' action="/resource/Barbeque" method="POST")
        div.form-group
            label.BarbequeAttr(for='order_name') Barbeque type
            input#order_name(type='text' order_name='order_name')
        div.form-group
            label.BarbequeAttr(for='order_quantity') Barbeque size
            input#order_quantity(type='text' order_name='order_quantity')
        div.form-group
            label.BarbequeAttr(for='order_price') Barbeque cost
            input#order_price(type='number' order_name='order_price')
            input(type="submit")
        script.
            document.forms['BarbequeForm'].addEventListener('submit', (event) => {
                event.preventDefault();
                // TODO do something here to show user that form is being submitted
                fetch(event.target.action, {
                    method: 'POST',
                    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
                }).then((resp) => {
                    return resp.json(); // or resp.text() or whatever the server sends
                }).then((body) => {
                    alert("Save succeded")
                    // TODO handle body
                }).catch((error) => {
                    // TODO handle error
                    alert("Save failed " + error )
                });
            });