body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1{
  color: red;
}

.BarbequeAttr {
  background-color: coral;
  width: 120px;
 }

 .values {
  border: outset;
  width: 300px;
  border-color: coral;
  margin-top: 10px;
  margin-bottom: 10px;
}
